{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
<div class="btn-group mt-5 mb-5" role="group" aria-label="Basic example">
    <form action="{% url 'userPortal' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Users</button>
    </form>
    <form action="{% url 'projectPortal' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Projects</button>
    </form>
    <form action="{% url 'signup' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Create Users</button>
    </form>
    <form action="{% url 'create' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Create Projects</button>
    </form>
</div>
{% endif %}
{% if error %}

<div class="alert alert-danger mt-3" role="alert">
    {{ error}}
</div>

{% endif %}

<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-group col">
        <label for="title">Title:</label>
        <input type="text" name="title" class="form-control" id="title">
    </div>
    {% if user.is_superuser %}
    <div class="form-group col">
        <label for="title">Username:</label>
        <select class="custom-select my-1 mr-sm-2" name="userid" id="userid">
            <option selected>Choose...</option>
            {% for u in users %}
            <option value="{{ u.0}}">{{ u.4}}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div class="form-group col">
        <label for="body">Description:</label>
        <textarea type="textarea" name="body" class="form-control" id="body"></textarea>
    </div>
    <div class="form-group col">
        <label for="image">Image:</label>
        <input type="file" name="image" class="form-control" id="image">
    </div>
    <div class="form-group col input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="amount">
        <div class="input-group-append">
            <span class="input-group-text">.00</span>
        </div>
    </div>
    <div class="form-group col">
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start">
    </div>
    <div class="form-group col">
        <label for="end">End date:</label>
        <input type="date" id="end" name="end">
    </div>
    <div class="form-group col">
        <label class="my-1 mr-2" for="category">Category:</label>
        <select class="custom-select my-1 mr-sm-2" name="category" id="category">
            <option selected>Choose...</option>
            <option value="food and beverage">Food and Beverage</option>
            <option value="education">Education</option>
            <option value="other">Others</option>
        </select>

        </br>
        <button type="submit" class="btn btn-dark mt-2">Add Project</button>
    </div>
</form>


{% endblock %}