{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide mt-3" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="{% static 'home.png' %}" class="d-block w-100 carousel-img">
      <div class="carousel-caption d-none d-md-block">
        <h5>How to Invest</h5>
        <p>If interested press into the project to find out more</p>
      </div>
    </div>
    {% for p in projects %}
    <div class="carousel-item" data-interval="5000">
      <img src="/media/{{ p.4 }}" class="d-block w-100 carousel-img">
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev " href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon btn-dark" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next " href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon btn-dark" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<hr>
<div class="row">
  <div class="col-sm-6">
    {% for p in feature %}
    <div class="card">
      <h5 class="card-header lead">Highest Fund Sought of The Day</h5>
      <div class="card-body">
        <h5 class="card-title">{{ p.0 }}</h5>
        <p class="card-text">{{ p.1|truncatewords:30 }}</p>
        <a onclick="window.location='{% url 'detail' p.0 %}';" style="cursor: pointer;"
          class="btn btn-secondary btn-outline-light">Click here to find out more</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-sm-6">
    {% for p in newest %}
    <div class="card">
      <h5 class="card-header lead">Latest Investment of The Day</h5>
      <div class="card-body">
        <h5 class="card-title">{{ p.0 }}</h5>
        <p class="card-text">{{ p.1|truncatewords:30 }}</p>
        <a onclick="window.location='{% url 'detail' p.0 %}';" style="cursor: pointer;"
          class="btn btn-secondary btn-outline-light">Click here to find out more</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<hr>
<h4 class="lead">Categories</h4>

<form method="GET" action="{% url 'index' %}">
  <div id="myDIV" class="btn-group mt-2 mb-3 btn-group-toggle" role="group" aria-label="Basic example"
    data-toggle="buttons">
    <button type="submit" name="cat" id="cat" class="btn btn-secondary btn-outline-light" value="all">All</button>
    <button type="submit" name="cat" id="cat" class="btn btn-secondary btn-outline-light"
      value="featured">Featured</button>
    <button type="submit" name="cat" id="cat" class="btn btn-secondary btn-outline-light" value="food and beverage">Food
      and
      Beverage</button>
    <button type="submit" name="cat" id="cat" class="btn btn-secondary btn-outline-light"
      value="education">Education</button>
    <button type="submit" name="cat" id="cat" class="btn btn-secondary btn-outline-light" value="other">Others</button>
  </div>
</form>

{% for p in projects %}
<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-md-4" onclick="window.location='{% url 'detail' p.0 %}';" style="cursor: pointer;">
      <img src="/media/{{ p.4 }}" class="card-img mt-5 ml-2">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ p.0 }}</h5>
        <p class="card-text">{{ p.1|truncatewords:30}}</p>
        {% if p.5 >= p.6 %}
        <h6 class="card-text">Funding Status: Funded</h6>
        {% else %}
        <h6 class="card-text">Funding Status: Not Funded</h6>
        {% endif %}
        <h6 class="card-text">Amount Targeted: {{ p.6}}</h6>
        <h6 class="card-text">Amount Plegded: {{ p.5}}</h6>
        <a class="card-text btn btn-secondary btn-outline-light" href="{% url 'detail' p.0 %}">Click here to invest and
          find out more!</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% if projects.has_other_pages %}
<ul class="pagination">
  {% if projects.has_previous %}
  <li><a href="?page={{ projects.previous_page_number }}&cat={{ cat }}">&laquo;</a></li>
  {% else %}
  <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in projects.paginator.page_range %}
  {% if projects.number == i %}
  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
  {% else %}
  <li><a href="?page={{ i }}&cat={{ cat }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if projects.has_next %}
  <li><a href="?page={{ projects.next_page_number }}&cat={{ cat }}">&raquo;</a></li>
  {% else %}
  <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}