{% extends 'base.html' %}

{% block content %}
<div class="btn-group mt-5 mb-5" role="group" aria-label="Basic example">
    <form action="{% url 'userPortal' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Users</button>
    </form>
    <form action="{% url 'projectPortal' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Projects</button>
    </form>
    <form action="{% url 'signup' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Create Users</button>
    </form>
    <form action="{% url 'create' %}">
        <button type="submit" class="btn btn-secondary btn-outline-light">Create Projects</button>
    </form>
</div>

<div>
    <h1>User Without Projects</h1>
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>

        <tbody>
            {% for r in records %}
            <tr>
                <td>{{ r.0 }}</td> <!-- id -->
                <td>{{ r.4 }}</td> <!-- im_id -->
                <td>{{ r.7 }}</td> <!-- name -->
                <td>{{ r.5 }}</td> <!-- price -->
                <td>{{ r.6 }}</td> <!-- name -->
                <td>{{ r.2 }}</td> <!-- price -->
                <td>
                    <form id="delete" method="POST" action="{% url 'deluser' %}">
                        {% csrf_token %}
                        <input type="hidden" name="deleteid" id="deleteid" value="{{ r.0 }}"></input>
                        <input type=submit value="Delete" class="btn btn-secondary mb-2"></input>
                    </form>
                    <form id="edit" method="POST" action="{% url 'userdetail' %}">
                        {% csrf_token %}
                        <input type="hidden" name="editid" id="editid" value="{{ r.0 }}"></input>
                        <input type=submit value="Edit" class="btn btn-secondary mb-2"></input>
                    </form>
                    <form id="investment" method="POST" action="{% url 'investment' %}">
                        {% csrf_token %}
                        <input type="hidden" name="editid" id="editid" value="{{ r.0 }}"></input>
                        <input type=submit value="Investment" class="btn btn-secondary mb-2"></input>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h1>User With Projects</h1>
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>

        <tbody>
            {% for r in withproj %}
            <tr>
                <td>{{ r.0 }}</td> <!-- id -->
                <td>{{ r.4 }}</td> <!-- im_id -->
                <td>{{ r.7 }}</td> <!-- name -->
                <td>{{ r.5 }}</td> <!-- price -->
                <td>{{ r.6 }}</td> <!-- name -->
                <td>{{ r.2 }}</td> <!-- price -->
                <td>
                    <form id="delete" method="POST" action="{% url 'deluser' %}">
                        {% csrf_token %}
                        <input type="hidden" name="deleteid" id="deleteid" value="{{ r.0 }}"></input>
                        <input type=submit value="Delete" class="btn btn-secondary mb-2"></input>
                    </form>
                    <form id="edit" method="POST" action="{% url 'userdetail' %}">
                        {% csrf_token %}
                        <input type="hidden" name="editid" id="editid" value="{{ r.0 }}"></input>
                        <input type=submit value="Edit" class="btn btn-secondary mb-2"></input>
                    </form>
                    <form id="investment" method="POST" action="{% url 'investment' %}">
                        {% csrf_token %}
                        <input type="hidden" name="editid" id="editid" value="{{ r.0 }}"></input>
                        <input type=submit value="Investment" class="btn btn-secondary mb-2"></input>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}